# This constraint says that every instance of class <domainClass> should be 
# connected with at least <atLeastValue> instances of class <rangeClass> with
# property <propertyConnection>.

<domainClass> rdfs:subClassOf
              [ a owl:Restriction ;
                owl:onProperty <propertyConnection> ;
                owl:minQualifiedCardinality "<atLeastValue>"^^xsd:nonNegativeInteger ;
                owl:onClass <rangeClass>
              ] .