# This constraint says that class <classWithCardinality> contains at most 
# <atMostValue> number of instances.

<classWithCardinality> owl:maxQualifiedCardinality "<atMostValue>"^^xsd:nonNegativeInteger .