# This constraint says that every instance of class <domainClass> should be 
# connected with exactly <exactlyValue> instances of class <rangeClass> with
# property <propertyConnection>.

<domainClass> rdfs:subClassOf
              [ a owl:Restriction ;
                owl:onProperty <propertyConnection> ;
                owl:qualifiedCardinality "<exactlyValue>"^^xsd:nonNegativeInteger ;
                owl:onClass <rangeClass>
              ] .