# This constraint says that class <classWithCardinality> contains exactly 
# <exactlyValue> number of instances.

<classWithCardinality> owl:qualifiedCardinality "<exactlyValue>"^^xsd:nonNegativeInteger .